<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://0grhdgmttgca1hcto8yzdecbpq73sg3dqgyanhaubpf18khddqczgg55p.ourdvsss.com/wscdn00.baidupcs.com/file/7ad7740e71f8047ca45c8402610afb26?bkt=p3-000051b68c8e32e6b117961ba36b6d925594&amp;xcode=cf3d072f907c0e0fb2c3c38a9d7104917d48172ec473eb1b0b2977702d3e6764&amp;fid=1074718808-250528-115639952181717&amp;time=1466141825&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-ngKbw17WKQ3apbL17gcqlq8v%2B9c%3D&amp;to=yqhb&amp;fm=Yan,B,T,t&amp;sta_dx=13&amp;sta_cs=0&amp;sta_ft=ipa&amp;sta_ct=0&amp;fm2=Yangquan,B,T,t&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=000051b68c8e32e6b117961ba36b6d925594&amp;sl=77922382&amp;expires=8h&amp;rt=sh&amp;r=541435128&amp;mlogid=3909554563626729970&amp;vuk=1074718808&amp;vbdid=120808867&amp;fin=Vivian.ipa&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0&amp;dp-logid=3909554563626729970&amp;dp-callid=0.1.1&amp;hps=1&amp;wshc_tag=0&amp;wsts_tag=57638c82&amp;wsid_tag=ded10bfe&amp;wsiphost=ipdbm</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/devedbox/Vivian/master/image.57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/devedbox/Vivian/master/image.512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.Vivian.Vivian</string>
				<key>bundle-version</key>
				<string>0.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Vivian</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
